In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd
import numpy as np

In [3]:
# def fix_address(address):
#     return (address.split(sep=', '))[0]

In [4]:
# conda install -c conda-forge geopy
from geopy.geocoders import Nominatim
from geopy.distance import distance
from tqdm import tqdm

# proceed with cauction!!!
def distance_from(given_location, dataframe, addresses_column_name, postifx="", inplace=False):
    """
    dataframe - pandas.DataFrame object
    addresses_column_name - name of the column in which we can find addresses
    given_location - tuple with latitude and longitude of a location from which we're counting the distance

    postfix - what should I add to every address to make sure it's what we need. example: city/country
    inplace - check it if you want to change the given dataframe. default False

    returned value - pd.Series distances in kilometers
    """
    geolocator = Nominatim(user_agent="Strive School YMVC Project")

    number_of_rows = dataframe.shape[0]
    addresses_df = dataframe[addresses_column_name]

    gps_addresses = np.zeros(shape=number_of_rows)

    # this loop can take a looooong time.
    for row_nr in tqdm(np.arange(0, number_of_rows)):
        dist = np.nan
        try:
            loc = geolocator.geocode(addresses_df.iloc[row_nr] + postifx)
            dist = distance(given_location, (loc.latitude, loc.longitude)).kilometers
        except Exception as e:
            print(e)
        gps_addresses[row_nr] = dist

    if inplace:
        # we put a new column before the "address" column
        dataframe.insert(dataframe.columns.get_loc(addresses_column_name), 'distance_km', gps_addresses)
    else:
        return pd.Series(gps_addresses, name='distance_km')

In [45]:
def contains(word, column):
    """
    Usage:
    Pass a column and a word u want to find in the cells, to get a np.array of type bool.
    Afterwards u can pass it as an argument of [] selection mechanism. Examples:

    austin_tx[ contains(austin_tx.categories, "Shopping") ]
    austin_tx[ contains(austin_tx.categories, "Shopping") | contains(austin_tx.categories, "Hotels") ]      # and
    austin_tx[ contains(austin_tx.categories, "Shopping") & contains(austin_tx.categories, "Watches") ]     # or

    Works for all columns that return strings. hours and attributes too.
    """
    return np.array([(word in vals) for vals in column])

In [6]:
# def fix_category(category):
#     return category.replace(", &", " &")

In [7]:
def get_categories_dict(category_column, separator):
    categories_counts = {}
    for things in category_column:
        for thing in things.split(sep=separator):    
            if thing in categories_counts.keys():
                categories_counts[thing] += 1
            else:
                categories_counts[thing] = 1
    return categories_counts

In [8]:
berlin = pd.read_csv('yelp_dataset.csv')

In [9]:
berlin.drop(['url', 'claimed'], axis=1, inplace=True)

In [10]:
print(berlin.columns.values)

['Restaurants_Name' 'photos_count' 'stars' 'review_count' 'address'
 'hours' 'attributes' 'categories']

In [11]:
berlin.isna().sum()

Restaurants_Name     0
photos_count        18
stars                0
review_count         0
address              0
hours                0
attributes          14
categories           8
dtype: int64

In [12]:
berlin.drop(berlin.index[berlin['attributes'].isna() | berlin['categories'].isna()], inplace=True)

In [13]:
berlin.isna().sum()

Restaurants_Name    0
photos_count        5
stars               0
review_count        0
address             0
hours               0
attributes          0
categories          0
dtype: int64

In [14]:
# import re
def fix_names(dataframe, column_name):
    dataframe[column_name] = dataframe[column_name].apply(lambda name: e.sub(r"(\w)([A-Z])", r"\1 \2", name))

In [15]:
# fix_names(berlin, 'Restaurants_Name')

In [16]:
berlin.shape[0]

218

In [17]:
# graph stars vs distance

In [18]:
distance_from((52.525579992852855, 13.369230338630214),berlin, 'address',  inplace=True)
# berlin.drop(berlin['distance_km'].isna())

  1%|▏         | 3/218 [00:01<01:35,  2.24it/s]

'NoneType' object has no attribute 'latitude'

  2%|▏         | 4/218 [00:01<01:39,  2.15it/s]

'NoneType' object has no attribute 'latitude'

  6%|▌         | 12/218 [00:05<01:40,  2.05it/s]

'NoneType' object has no attribute 'latitude'

 12%|█▏        | 27/218 [00:13<01:31,  2.09it/s]

'NoneType' object has no attribute 'latitude'

 15%|█▌        | 33/218 [00:16<01:27,  2.10it/s]

'NoneType' object has no attribute 'latitude'

 19%|█▉        | 41/218 [00:20<01:26,  2.05it/s]

'NoneType' object has no attribute 'latitude'

 22%|██▏       | 47/218 [00:23<01:21,  2.09it/s]

'NoneType' object has no attribute 'latitude'

 26%|██▌       | 56/218 [00:27<01:19,  2.03it/s]

'NoneType' object has no attribute 'latitude'

 29%|██▉       | 64/218 [00:31<01:14,  2.07it/s]

'NoneType' object has no attribute 'latitude'

 33%|███▎      | 72/218 [00:35<01:09,  2.11it/s]

'NoneType' object has no attribute 'latitude'

 36%|███▌      | 79/218 [00:39<01:06,  2.09it/s]

'NoneType' object has no attribute 'latitude'

 46%|████▌     | 100/218 [00:49<00:56,  2.07it/s]

'NoneType' object has no attribute 'latitude'

 51%|█████     | 111/218 [00:55<00:51,  2.09it/s]

'NoneType' object has no attribute 'latitude'

 56%|█████▋    | 123/218 [01:01<00:46,  2.06it/s]

'NoneType' object has no attribute 'latitude'

 58%|█████▊    | 127/218 [01:04<00:51,  1.77it/s]

'NoneType' object has no attribute 'latitude'

 61%|██████    | 133/218 [01:07<00:42,  2.01it/s]

'NoneType' object has no attribute 'latitude'

 67%|██████▋   | 146/218 [01:13<00:36,  1.98it/s]

'NoneType' object has no attribute 'latitude'

 67%|██████▋   | 147/218 [01:14<00:43,  1.62it/s]

'NoneType' object has no attribute 'latitude'

 69%|██████▉   | 150/218 [01:15<00:32,  2.11it/s]

'NoneType' object has no attribute 'latitude'

 76%|███████▌  | 166/218 [01:23<00:24,  2.09it/s]

'NoneType' object has no attribute 'latitude'

 81%|████████  | 176/218 [01:28<00:20,  2.06it/s]

'NoneType' object has no attribute 'latitude'

 82%|████████▏ | 179/218 [01:30<00:24,  1.62it/s]

'NoneType' object has no attribute 'latitude'

 83%|████████▎ | 181/218 [01:31<00:17,  2.07it/s]

'NoneType' object has no attribute 'latitude'

 89%|████████▉ | 195/218 [01:38<00:10,  2.10it/s]

'NoneType' object has no attribute 'latitude'

 94%|█████████▎| 204/218 [01:42<00:06,  2.08it/s]

'NoneType' object has no attribute 'latitude'

100%|█████████▉| 217/218 [01:50<00:00,  2.08it/s]

'NoneType' object has no attribute 'latitude'

100%|██████████| 218/218 [01:50<00:00,  1.96it/s]

In [19]:
berlin.dropna(inplace=True)

In [26]:
categories = get_categories_dict(berlin.categories, ',')

In [33]:
categories = get_categories_dict(berlin.categories, ',')            # dictionary of categories
cat_df = pd.DataFrame([categories.keys(), categories.values()]).T   # dataframe out of that dictionary
cat_df.rename(columns={0:'category',1:'count'}, inplace=True)       # name columns in a fasionable name

In [55]:
avg_stars=[]
for category in cat_df['category']:
    avg_stars.append(berlin[contains(category, berlin.categories)]['stars'].mean())
cat_df['average_stars'] = avg_stars

In [58]:
cat_df.head()

          category count  average_stars
0           German    19       4.300000
1  Modern European     6       4.666667
2    International     6       4.285714
3       Sandwiches     7       4.500000
4          Burgers    11       4.136364